<head>
<STYLE>
.S
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
}
P
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 10px;
    MARGIN-TOP: 10px
}
P.pageheader
{
    COLOR: #990000;
    FONT: bold 12pt Arial, Helvetica, sans-serif;
    MARGIN-BOTTOM: 10px;
    MARGIN-TOP: 10px
}
TD
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;

}
TD.N
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

A:link
{
    COLOR: #996600;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A:visited
{
    COLOR: #996600;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A:active
{
    COLOR: #996600;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A:hover
{
    COLOR: #990000;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: underline;
    TEXT-INDENT: 0in
}
A.nav:link
{
    COLOR: #0066CC;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav:visited
{
    COLOR: #333399;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav:active
{
    COLOR: #990000;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav:hover
{
    COLOR: #990000;
    FONT: bold 9pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav_footer:link
{
    COLOR: #996600;
    FONT: 8pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav_footer:visited
{
    COLOR: #996600;
    FONT: 8pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav_footer:active
{
    COLOR: #996600;
    FONT: 8pt Arial,Sans-Serif;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in
}
A.nav_footer:hover
{
    COLOR: #FF9933;
    FONT: 8pt Arial,Sans-Serif;
    TEXT-DECORATION: underline;
    TEXT-INDENT: 0in
}
</STYLE>
</head>

